body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f6f8;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 600px;
  margin: 100px auto 0; 
  padding: 20px;
  background-color: #a7c4a1;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.codebreaker-button {
  padding: 10px 20px;
  background-color: #013f81;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.codebreaker-button:hover {
  background-color: #0056b3;
}

#game-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#game-results {
  margin-bottom: 10px;
}

#guess-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#game-container button {
  padding: 8px 20px;
  background-color: #013f81;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#game-container button:hover {
  background-color: #0056b3;
}
